@{
    ViewBag.Title = "Home Page";
}

@section styles {
    @Styles.Render("~/Content/gridmvc")
}

<div class="row">
    @Html.Action("GetGrid")
</div>

@section scripts {
    @Scripts.Render("~/bundles/gridmvc")
    @Scripts.Render("~/bundles/application/home")
}